.srd-default-port{
  $p: &;

  display: flex;
  margin-top: 1px;

  > * {
    align-self: center;
  }

  &__name {
    padding: 0 5px;
  }


  &--out{
    justify-content: flex-end;

    #{$p}__name {
      justify-content: flex-end;
      text-align: right;
    }

    position: relative;
    padding: 5px 18px;
    .srd-port {
      background: purple;
      border-radius: 17px;
      position: absolute;
      right: -8px;
      top: 3px;
    }

    
  }
}
